<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>MyNews.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>674600C8616572225F5259B645BB231CBB5138C4</string>
				<key>dateExpires</key>
				<string>01.04.2021</string>
				<key>type</key>
				<string>Apple Development</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>674600C8616572225F5259B645BB231CBB5138C4</string>
						<key>dateExpires</key>
						<string>01.04.2021</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Differentiator.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>364PACBHLP</string>
						<key>name</key>
						<string>Oleksandr Yefimenko</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>674600C8616572225F5259B645BB231CBB5138C4</string>
						<key>dateExpires</key>
						<string>01.04.2021</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>QuickLayout.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>364PACBHLP</string>
						<key>name</key>
						<string>Oleksandr Yefimenko</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>674600C8616572225F5259B645BB231CBB5138C4</string>
						<key>dateExpires</key>
						<string>01.04.2021</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>RxCocoa.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>364PACBHLP</string>
						<key>name</key>
						<string>Oleksandr Yefimenko</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>674600C8616572225F5259B645BB231CBB5138C4</string>
						<key>dateExpires</key>
						<string>01.04.2021</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>RxDataSources.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>364PACBHLP</string>
						<key>name</key>
						<string>Oleksandr Yefimenko</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>674600C8616572225F5259B645BB231CBB5138C4</string>
						<key>dateExpires</key>
						<string>01.04.2021</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>RxRelay.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>364PACBHLP</string>
						<key>name</key>
						<string>Oleksandr Yefimenko</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>674600C8616572225F5259B645BB231CBB5138C4</string>
						<key>dateExpires</key>
						<string>01.04.2021</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>RxSwift.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>364PACBHLP</string>
						<key>name</key>
						<string>Oleksandr Yefimenko</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>674600C8616572225F5259B645BB231CBB5138C4</string>
						<key>dateExpires</key>
						<string>01.04.2021</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>SDWebImage.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>364PACBHLP</string>
						<key>name</key>
						<string>Oleksandr Yefimenko</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>674600C8616572225F5259B645BB231CBB5138C4</string>
						<key>dateExpires</key>
						<string>01.04.2021</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>SQLite.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>364PACBHLP</string>
						<key>name</key>
						<string>Oleksandr Yefimenko</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>674600C8616572225F5259B645BB231CBB5138C4</string>
						<key>dateExpires</key>
						<string>01.04.2021</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>SwiftEntryKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>364PACBHLP</string>
						<key>name</key>
						<string>Oleksandr Yefimenko</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>674600C8616572225F5259B645BB231CBB5138C4</string>
						<key>dateExpires</key>
						<string>01.04.2021</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>SwiftyJSON.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>364PACBHLP</string>
						<key>name</key>
						<string>Oleksandr Yefimenko</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>674600C8616572225F5259B645BB231CBB5138C4</string>
						<key>dateExpires</key>
						<string>01.04.2021</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>TextFieldEffects.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>364PACBHLP</string>
						<key>name</key>
						<string>Oleksandr Yefimenko</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>364PACBHLP.Efimenko.MyNews</string>
				<key>com.apple.developer.team-identifier</key>
				<string>364PACBHLP</string>
				<key>get-task-allow</key>
				<true/>
				<key>keychain-access-groups</key>
				<array>
					<string>364PACBHLP.Efimenko.MyNews</string>
				</array>
			</dict>
			<key>name</key>
			<string>MyNews.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>263074c7-6759-4320-96d8-66b2552fefa9</string>
				<key>name</key>
				<string>iOS Team Provisioning Profile: *</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>364PACBHLP</string>
				<key>name</key>
				<string>Oleksandr Yefimenko</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
